@import '~/assets/styles/variables.sass'

img
  user-select: none

.lazy
  opacity: 0
  transition: opacity $trans-img
  &[lazy="loaded"]
    opacity: 1

.section
  max-width: 100%
  background: $white
  img
    width: 100%
    max-width: 100%
  &-Wrapper
    min-height: 100vh
    @media screen and (min-width: $breakpoint-mobile)
      .section-Passage.reverse
        flex-direction: row-reverse
        @media screen and (min-width: $breakpoint-laptop)
          .section-Passage_Left
            flex-basis: 43vw
          .section-Passage_Right
            padding-right: var(--spacing-three)
            padding-left: var(--spacing-five)
    @media screen and (max-width: $breakpoint-laptop) and (min-width: $breakpoint-mobile)
      .section-Passage
        margin-top: var(--spacing-section-vertical-small)
        margin-bottom: var(--spacing-section-vertical-small)
      .section:nth-child(2).section-Passage
        margin-top: 0
      .section:nth-child(1).section-Passage
        margin-top: 0
        margin-bottom: 0
  &-Content
    > div
      margin-bottom: var(--spacing-item-vertical)
    > div:last-child
      margin-bottom: 0

.blog-post
  padding-left: 1em
  padding-right: 1em

form
  opacity: 1
input, textarea
  width: 100%
  background: none
  outline: none
  border: 0
  border-bottom: 1px solid currentColor
  border-radius: 0
  padding-bottom: 1rem
  margin-bottom: 1.25rem
  color: currentColor
  font-family: 'Artegra Sans Alt Medium'
  font-size: 1rem
  font-weight: normal
  letter-spacing: 0
  opacity: 1
  &::placeholder
    color: currentColor
  &.button
    width: auto

textarea
  min-height: var(--spacing-section-vertical)
  width: 100% !important

.white
  background: $white
  color: $darkbrown
.offwhite
  background: $offwhite
  color: $darkbrown
.lightgrey
  background: $lightgrey
  color: $darkbrown
.yellow
  background: $yellow
  color: $darkbrown
.purple
  background: $purple
  color: $darkbrown
.darkbrown
  background: $darkbrown
  color: $offwhite

// Important since overriding interactions
.desktop
  display: none
  @media screen and ( max-width: $breakpoint-mobile)
    display: none !important
.mobile
  display: none
  @media screen and ( max-width: $breakpoint-mobile)
    display: block !important
.horizontal
  display: none
  @media screen and (orientation: landscape)
    display: block !important
.vertical
  display: none
  @media screen and (orientation: portrait)
    display: block !important
