$breakpoint-mobile: 800px
$breakpoint-laptop: 1440px

$white: #FFF
$lightgrey: #FCFCFE
$offwhite: #F1EFE3
$grey: #dddddb
$darkgrey: #7b7a76
$lightyellow: #F2f0e4
$darkbrown: #342C29
$yellow: #B0A355
$brown: #76591D
$purple: #ADB3CC
$darkbrowntype: $lightgrey

$zindex-header-slider: 900
$zindex-header-small: 800
$zindex-header-large: 700

$testborder: 1px solid $darkbrown

$transition-hover: .33s ease

body
  // Horizontal spacing
  --spacing-one: 2.5vw // 50px
  --spacing-two: 5vw // 100px
  --spacing-three: 7.5vw // 150px / side padding
  --spacing-four: 10vw // 200px
  --spacing-five: 15vw // 300px / double side padding
  // Section spacing
  --spacing-section-horizontal: 7.5vw // 150px
  --spacing-section-vertical: 8.3333rem // 150px
  --spacing-section-vertical-small: 4.1667rem // 75px
  // Section spacing
  --spacing-item-vertical: 2.7778rem // 50px
  // Vertical spacing
  // --spacing-one-vertical: 2.7778rem // 50px
  // --spacing-onehalf-vertical: 4.1667rem // 75px
  // --spacing-two-vertical: 5.5556rem // 100px
  // --spacing-three-vertical: 8.3333rem // 150px
  // --spacing-four-vertical: 11.1111rem // 200px
  // --spacing-five-vertical: 16.6667rem // 300px
  // Header spacing
  --spacing-header-horizontal: 7.5vw // 150px
  --spacing-header-vertical: 2.7778rem // 50px
