$breakpoint-mobile: 800px
$breakpoint-laptop: 1440px

$white: #FFF
$lightgrey: #FCFCFE
$grey: #dddddb
$darkgrey: #7b7a76
$lightyellow: #F2f0e4
$black: #342C29
$yellow: #B0A355
$brown: #76591D
$blacktype: $lightgrey

$testborder: 1px solid $black

.yellow
  background: $yellow

body
  --spacing-one: 50px
  --spacing-two: 100px
  --spacing-three: 150px
  --spacing-four: 200px
  --spacing-five: 300px
  --spacing-sides: 150px

  --spacing-item-one: 1rem // 18
  --spacing-item-two: 2rem // 32
  --spacing-item-three: 2.5rem // 45
  @media screen and ( max-width: $breakpoint-mobile)
    --spacing-one: 1em
    --spacing-two: 1em
    --spacing-three: 2em
